body {
  position: relative;
  left: 10%;
  width: 80%;
}

canvas {
  border:1px solid black;
}
#demo-area div {
  display: inline-block;
  vertical-align: top;
}
#bin-spacing-controls{
  width: 100%;
}
.left {
  float: left;
}
.right {
  float: right;
}
