body {
  position: relative;
  left: 10%;
  width: 80%;
}

ul.found{
    list-style-type: none;
    margin-left:10px;
}

td {
  width: 28%;
  vertical-align: top;
  border: 1px dashed;
  padding: 0em .5em;
}

ul.found li{
  max-width:28%;
  margin: 1em .5em;
  float: left;
  min-height: 12em;
  padding:1px;
  border: 1px dashed;
}
