div.header{
text-align:left;
padding-left:10px;
border:solid black 2px;
border-radius: 10px;
background-color: #cfcfff;
height : 110px;
/*position:fixed;*/
}

#emblem {
height:100px;
width:100px;
position: absolute;
right:16px;
top: 15px;
}

div.link_bar{
text-align:left;
margin-top: 15px;
font-size: 10px;
margin-left:15px;
margin-bottom: 40px;
}

div.link_bar{
text-align:left;
margin-top: 15px;
font-size: 10px;
margin-left:15px;

}

.link_bar li {
  margin:10px;
  font-size:15px;
  border: 1px dashed;
  padding: 7px;
  background-color: #a2dfcf;
  border-radius: 10px;

}

.link_bar a {
  padding: 7px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 10px;
}

.link_bar a:hover {
  background-color: #32bf2f;
}

ul.horizontal_top{
list-style-type:none;
display:inline;

}


ul.horizontal_top li {
display: inline;
}



div.right_bar{
float:right;
margin-right: 15px;
height:300px;
width:100px;
}

ul.vertical_right{
list-style-type:none;
}

ul.vertical_right li{}

div.main_body{
display:table;

}


.blog_title_image{
float: left;
margin-right: 15px;
width: 50px;
height: 50px;}

.main_list li {
  padding: 5px;
}

div.footer{
text-align:center;}

/*div.vert_bar{
margin-left:50%;
background-color:#000000;
width:3px;
height:4000px;
position:absolute;}

*/