* {
  border: 1px solid black;
}

td {
  width: 20%;
  vertical-align: top;
}

td ul {
  padding:0px;
}

.Cari {
  background-color: #dddddd;
}

.Peter {
  background-color: #00cccc;
}

.Ryan {
  background-color: #aaaaaa
}

li {
  list-style-type: none;
}

p.optional {
  display: none;
}

/*
  http://stackoverflow.com/questions/10023799/css-grid-with-1px-border
*/
