* {
  /*border: 1px solid black;*/
}

td {
  width: 20%;
  vertical-align: top;
  border: 1px solid black;
}

td ul {
  padding:0px;
}

.Cari {
  background-color: #0018B3;
  color: #fff;
}

.Peter {
  background-color: #00cccc;
}

.Ryan {
  background-color: #66ffa3;
}

li {
  list-style-type: none;
  background-color: #e7e7e7;
  border-radius: 1em;
  /*padding: 2px;*/
}

li p {
  text-align: center;
  /*padding: 5px;*/
}

p.optional {
  display: none;
}

